.product-card {
  background-color: #191a20;
  border-radius: 8px;
  padding: 26px 24.5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 345px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__image-container {
    background-color: #22232c;
    border-radius: 8px;
    min-height: 258px;
    padding-inline: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__details {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Expande para ocupar espaço disponível */
    justify-content: space-between; /* Mantém o botão e o preço na base */

    h2 {
      color: #fff;
      font-size: 1.125rem;
      font-weight: bold;
      margin-top: 49px;
      margin-bottom: 10px;
    }

    p {
      color: #cccccc;
      font-size: 0.75rem;
      font-weight: 300;
      max-height: 10rem; 
      text-align: left;
      text-wrap: pretty;
      text-overflow: ellipsis; /* Adiciona "..." no final do texto longo */
      margin-bottom: 20px; /* Adiciona espaçamento entre a descrição e o preço */
    }

    .price {
      display: flex;
      align-items: center;
      margin-top: auto; /* Empurra o preço para o final do container */
      
      img {
        margin-right: 10px;
      }

      span {
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .add-to-cart {
      background-color: #ff8310;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
      padding-block: 22px;
      width: 100%;
      margin-top: 24px; /* Ajusta o espaço entre o botão e o conteúdo acima */
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
    }
  }
}
