.product-grid {
    padding-inline: 2rem;
    justify-items: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    
    @media (min-width: 768px) {
      padding-left: 40px; 
      padding-right: 40px; 
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (min-width: 1024px) {
      padding-left: 136.5px; 
      padding-right: 136.5px; 
      margin-top: 189px;
      grid-template-columns: repeat(4, 1fr);
    }
  
   
  }

  .load-more-container {
    padding-left: 136.5px;
    padding-right: 136.5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 214px;
    
    @media (max-width: 768px) {
      padding-left: 136.5px;
      padding-right: 136.5px;
    }

    @media (max-width: 420px) { 
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .progress-bar {
      max-width: 100%;
      background-color: gray;
      margin: auto;
      border-radius: 9999px;
      height: 10px;
      margin-bottom: 4px;
      margin-top: 100px;
  
      .progress {
        background-color: #FF8310;
        height: 10px;
        border-radius: 9999px;
      }
  
      @media (max-width: 768px) {
        max-width: 100%;
        margin-top: 100px; 
        height: 10px; 
      }
  
      @media (max-width: 420px) { 
        max-width: 88%;
        height: 10px; 
        margin-top: 80px; 
      }
  
      @media (min-width: 1024px) {
        max-width: 25%;
        background-color: gray;
        margin: auto;
        border-radius: 9999px;
        height: 10px;
        margin-bottom: 4px;
        margin-top: 189px;
      }
    }
  
    .load-more-button {
      background-color: #393939;
      color: white;
      text-align: center;
      padding-block: 30px;
      width: 100%;
      border-radius: 8px;
      margin-top: 11px;
  
      @media (max-width: 768px) {
        text-align: center;
        padding-block: 30px;
        width: 100%;
        border-radius: 8px;
        margin-top: 11px;
      }
  
      @media (max-width: 420px) { 
        padding-block: 20px;
        padding-inline: 20px;
        font-size: 0.9rem; 
        border-radius: 6px; 
        width: 88%; 
      }
  
      @media (min-width: 1024px) {
        text-align: center;
        padding-block: 30px;
        width: 25%;
        border-radius: 8px;
        margin-top: 11px;
      }
    }
  }
  
  
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 10px; 
  
    .footer-text {
      margin: auto;
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      margin-bottom: 10px; 
    }
  }


  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ff8310;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }